/symfony/web/bundles/
/symfony/app/bootstrap*
/symfony/app/cache/*
/symfony/app/logs/*
/symfony/vendor/
/symfony/app/config/parameters.yml

/documentation/planning/database/*.bak
/documentation/planning/*.swp
*.mwb
*~
*.pdf

.buildpath
.project
.settings/

