{% extends 'TeamRaceWebBundle:External:_layout.html.twig' %}

{% block content %}
{{ "Congratulations, you just registered successfully" | trans }}

{#}
{% login = 'log in'|trans %}
{% loginTag = ['<a href=\"', url('login'), '\">', $login, '</a>'] %}

{% trans %}
Please {{ $loginTag }} to continue
{% endtrans %}
#}
{% endblock %}