{% extends 'TeamRaceWebBundle:External:_layout.html.twig' %}

{% block content %}
{{ trans 'Congratulations, you just registered successfully' }}

{% $login = 'log in'|trans %}
{% $loginTag = ['<a href=\"', url('login'), '\">', $login, '</a>'] %}

{% trans %}
Please {{ $loginTag }} to continue
{% endtrans %}

{% endblock %}