{% extends '::TeamRace.html.twig' %}

{% block navigation %}

<a id="navigationHome" href="{{ url('userHome') }}">home</a><span class="navigationSpacer"></span>
<a class="navigationItem" href="">about</a><span class="navigationSpacer"></span>
<a class="navigationItem" href="">login</a><span class="navigationSpacer"></span>
<a class="navigationItem" href="{{ url('logout') }}">logout</a><span class="navigationSpacer"></span>

<span class="navigationSpacer"></span>
<span class="navigationSpacer"></span>
<span class="navigationSpacer"></span>

<span id="navigationLocale">
	{{ "Choose language:"|trans }}
	&nbsp;
	<a class="navigationLocaleSwitch" id="de">de</a>
	<a class="navigationLocaleSwitch" id="en">en</a>
</span>

{% endblock %}