{% extends "TeamRaceWebBundle:User:_layout.html.twig" %}

{% block content %}
<table>
{% for teamrace in teamraces %}

<tr><td>{{ teamrace.name }}</td></tr>

{% endfor %}
</table>

<p><a href="{{ url('userCreateTeamRace') }}">{{ "Create a new teamRace" | trans }}</a>
{% endblock %}
